nextflow.enable.dsl=2

// create parameters (can be altered via command line)
params {
    base_dir = null
    ref_dir = null
    cpus = 30
    help = false
}

process {
    executor = 'local'
    errorStrategy = 'retry'
    maxRetries = 3
    
    withName: BATCH {
        container = 'quay.io/biocontainers/cnvkit:0.9.10--pyhdfd78af_0'
    }
    withName: SEGMENT {
        container = 'quay.io/biocontainers/cnvkit:0.9.10--pyhdfd78af_0'
    }
    withName: EXPORT {
        container = 'quay.io/biocontainers/cnvkit:0.9.10--pyhdfd78af_0'
    }
    withName: MERGE {
        container = 'quay.io/biocontainers/cnvkit:0.9.10--pyhdfd78af_0'
    }
}

docker {
    enabled = true
}