nextflow.enable.dsl=2

// create parameters (can be altered via command line)
params {
    bam_dir = null
    output_dir = null
    ref_dir = null
    pooled_normal = null
    batch_name = null
    cpus = 1
    
    // CREATE_NORM specific parameters
    capture_kit = null
    ref_genome = "Homo_sapiens_assembly38.fasta"
    annotation = null
    targets = null
    access = "hg38_access.bed"

    // optional parameters
    help = false
    legacy = false
}

manifest {
    name = 'WESley-cnvkit'
    description = 'Copy number calling using the CNVkit Python package'
    nextflowVersion = '>=25.04.6'
    author = 'Dien Ethan Mach'
    mainScript = 'cnvkit.nf'
    homePage = 'https://github.com/e10m/WESley'
}

process {
    executor = 'local'
    errorStrategy = { task.attempt <= task.maxRetries ? 'retry' : 'ignore' }
    maxRetries = 3
    containerOptions = "-v ${params.ref_dir}:/references"
    container = 'quay.io/biocontainers/cnvkit:0.9.10--pyhdfd78af_0'
}

docker {
    enabled = true
}