/*
========================================================================================
    Shared Nextflow config file for running tests across all workflows
========================================================================================
*/

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

params {
    ref_dir = "${projectDir}/test-data/references"
    test_mode = true
    cpus = 1
}

profiles {
    test {
        params.test_mode = true
        params.cpus = 1

        // Override all label definitions with minimal resources for CI/CD testing
        process {
            withLabel: 'highCpu' { cpus = 2 }
            withLabel: 'medCpu' { cpus = 1 }
            withLabel: 'lowCpu' { cpus = 1 }

            withLabel: 'extraHighMem' { memory = '4.GB' }
            withLabel: 'highMem' { memory = '2.GB' }
            withLabel: 'medMem' { memory = '1.GB' }
            withLabel: 'lowMem' { memory = '512.MB' }

            withLabel: 'extraLongTime' { time = '10m' }
            withLabel: 'longTime' { time = '5m' }
            withLabel: 'medTime' { time = '3m' }
            withLabel: 'shortTime' { time = '1m' }
        }
    }
}

process {
    executor = 'local'
    containerOptions = "-v ${params.ref_dir}:/references"
    errorStrategy = { task.attempt <= task.maxRetries ? 'retry' : 'ignore' }
    maxRetries = 3
    
    withName: BWA_ALIGN {
        container = 'e10m/bwa-and-samtools:latest'
    }
    withName: TRIM {
        container = 'quay.io/biocontainers/trim-galore:0.6.6--0'
    }
    withName: SPLIT {
        container = 'quay.io/biocontainers/bbmap:38.06--0'
    }
    withName: MARK_DUPES {
        container = 'broadinstitute/gatk:4.2.0.0'
        containerOptions = "-v ${params.ref_dir}:/references -u root"
    }
    withName: SET_TAGS {
        container = 'broadinstitute/gatk:4.2.0.0'
        containerOptions = "-v ${params.ref_dir}:/references -u root"
    }
    withName: RECAL_BASES {
        container = 'broadinstitute/gatk:4.2.0.0'
        containerOptions = "-v ${params.ref_dir}:/references -u root"
    }
    withName: APPLY_BQSR {
        container = 'broadinstitute/gatk:4.2.0.0'
        containerOptions = "-v ${params.ref_dir}:/references -u root"
    }
    withName: FASTQC {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
    withName: MULTIQC {
        container = 'multiqc/multiqc:v1.30'
    }
    withName: CALC_COVERAGE {
        container = 'broadinstitute/gatk:4.2.0.0'
    }
    withName: MUTECT2_CALL {
        container = 'broadinstitute/gatk:4.2.0.0'
    }

    withName: GET_PILEUP_SUMMARIES {
        container = 'broadinstitute/gatk:4.2.0.0'
    }

    withName: CALCULATE_CONTAMINATION {
        container = 'broadinstitute/gatk:4.2.0.0'
    }

    withName: LEARN_READ_ORIENTATION {
        container = 'broadinstitute/gatk:4.2.0.0'
    }

    withName: FILTER_MUTECT_CALLS {
        container = 'broadinstitute/gatk:4.2.0.0'
    }
}