/*
========================================================================================
    Shared Nextflow config file for running tests across all workflows
========================================================================================
*/

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

params {
    test_mode = true
    cpus = 1
}