nextflow.enable.dsl=2

// create parameters (can be altered via command line)
params {
    base_dir = "/media/graeberlab/ironwolf/batch20-bams_7-7-25"
    ref_dir = "/media/graeberlab/wdtwo/dmach/references"
    batch_number = 20
    cpus = 35
}

process {
    executor = 'local'
    containerOptions = "-v ${params.ref_dir}:/references"

    withName: SORT_VCFS {
        cpus = 1
        container = "broadinstitute/gatk:4.2.0.0"
    }
    withName: REHEADER {
        cpus = 1
        container = "staphb/bcftools:1.10.2"
    }
    withName: INDEX {
        cpus = 1
        container = "quay.io/biocontainers/samtools:1.10--h9402c20_1"
    }
    withName: INTERSECT {
        cpus = 1
        container = "staphb/bcftools:1.10.2"
    }
    withName: MERGE_VCFS {
        cpus = 1
        container = "broadinstitute/gatk:4.2.0.0"
    }
    withName: NORM_INDELS {
        cpus = 1
        container = "staphb/bcftools:1.10.2"
    }
    withName: VEP {
        cpus = 1
        container = 'e10m/vep:106.1'
    }
    withName: CREATE_MAF {
        cpus = 1 
        container = 'e10m/vcf2maf:1.6.19'
    }
    withName: KEEP_NONSYNONYMOUS {
        cpus = 1
        container = 'ubuntu:20.04'
    }
    withName: RENAME_HG38 {
        cpus = 1
        container = 'ubuntu:20.04'
    }
    withName: ONCOKB {
        cpus = 1
        container = 'e10m/oncokb:3.0.0'
        containerOptions = "-v ${params.ref_dir}:/references --env ONCOKB_TOKEN"
    }
}

docker {
    enabled = true
    runOptions = '--user $(id -u):$(id -g)'
}