nextflow.enable.dsl=2

// create parameters (can be altered via command line)
params {
    base_dir = null
    ref_dir = null
    cpus = 30
    help = false
}

manifest {
    name = 'WESley-mutation-calling'
    description = 'Somatic variant calling using up to 3 variant callers (Mutect2, MuSE, Varscan2)'
    nextflowVersion = '>=25.04.6'
    author = 'Dien Ethan Mach'
    mainScript = 'mutation_calling.nf'
    homePage = 'https://github.com/e10m/WESley'
}

process {
    executor = 'local'
    containerOptions = "-v ${params.ref_dir}:/references"
    errorStrategy = 'retry'
    maxRetries = 3

    withName: SORT_VCFS {
        cpus = 1
        container = "broadinstitute/gatk:4.2.0.0"
    }
    withName: REHEADER {
        cpus = 1
        container = "staphb/bcftools:1.10.2"
    }
    withName: INDEX {
        cpus = 1
        container = "quay.io/biocontainers/samtools:1.10--h9402c20_1"
    }
    withName: INTERSECT {
        cpus = 1
        container = "staphb/bcftools:1.10.2"
    }
    withName: MERGE_VCFS {
        cpus = 1
        container = "broadinstitute/gatk:4.2.0.0"
    }
    withName: NORM_INDELS {
        cpus = 1
        container = "staphb/bcftools:1.10.2"
    }
    withName: VEP {
        cpus = 1
        container = 'e10m/vep:106.1'
    }
    withName: CREATE_MAF {
        cpus = 1 
        container = 'e10m/vcf2maf:1.6.19'
    }
    withName: KEEP_NONSYNONYMOUS {
        cpus = 1
        container = 'ubuntu:20.04'
    }
    withName: RENAME_HG38 {
        cpus = 1
        container = 'ubuntu:20.04'
    }
    withName: ONCOKB {
        cpus = 1
        container = 'e10m/oncokb:3.0.0'
        containerOptions = "-v ${params.ref_dir}:/references --env ONCOKB_TOKEN"
    }
}

docker {
    enabled = true
    runOptions = '--user $(id -u):$(id -g)'
}