nextflow.enable.dsl=2

// create parameters (can be altered via command line)
params {
    fastq_dir = null
    output_dir = null
    ref_dir = null
    metadata = null
    cpus = 30
    help = false
    batch_name = null

    // testing environment parameters
    test_mode = false
}

manifest {
    name = 'WESley-mutation-calling'
    description = 'Somatic variant calling using up to 3 variant callers (Mutect2, MuSE, Varscan2)'
    nextflowVersion = '>=25.04.6'
    author = 'Dien Ethan Mach'
    mainScript = 'mutation_calling.nf'
    homePage = 'https://github.com/e10m/WESley'
}

process {
    executor = 'local'
    containerOptions = "-v ${params.ref_dir}:/references"
    errorStrategy = { task.attempt <= task.maxRetries ? 'retry' : 'ignore' }
    maxRetries = 3
    
    withName: TRIM {
        container = 'quay.io/biocontainers/trim-galore:0.6.6--0'
    }
    withName: SPLIT {
        container = 'quay.io/biocontainers/bbmap:38.06--0'
    }
    withName: BWA_ALIGN {
        container = 'e10m/bwa-and-samtools:latest'
    }
    withName: MARK_DUPES {
        container = 'broadinstitute/gatk:4.2.0.0'
        containerOptions = "-v ${params.output_dir}:/output_dir -v ${params.ref_dir}:/references -u root"
    }
    withName: SET_TAGS {
        container = 'broadinstitute/gatk:4.2.0.0'
        containerOptions = "-v ${params.output_dir}:/output_dir -v ${params.ref_dir}:/references -u root"
    }
    withName: RECAL_BASES {
        container = 'broadinstitute/gatk:4.2.0.0'
        containerOptions = "-v ${params.output_dir}:/output_dir -v ${params.ref_dir}:/references -u root"
    }
    withName: APPLY_BQSR {
        container = 'broadinstitute/gatk:4.2.0.0'
        containerOptions = "-v ${params.output_dir}:/output_dir -v ${params.ref_dir}:/references -u root"
    }
    withName: FASTQC {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
    withName: MULTIQC {
        container = 'multiqc/multiqc:v1.30'
    }
    withName: CALC_COVERAGE {
        container = 'broadinstitute/gatk:4.2.0.0'
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}