nextflow.enable.dsl=2

// create parameters (can be altered via command line)
params {
    base_dir = "/media/graeberlab/wdtwo/dmach/test_fastqs/nf-batch-18"
    ref_dir = "/media/graeberlab/wdtwo/dmach/references"
    metadata = "/media/graeberlab/wdtwo/dmach/wes_pipeline/revamp_files/nextflow_automation/data_processing/batch18_metadata.tsv"
    cpus = 30
}

process {
    executor = 'local'
    containerOptions = "-v ${params.ref_dir}:/references"
    errorStrategy = 'retry'
    maxRetries = 3
    
    withName: TRIM {
        container = 'quay.io/biocontainers/trim-galore:0.6.6--0'
    }
    withName: SPLIT {
        container = 'quay.io/biocontainers/bbmap:38.06--0'
    }
    withName: BWA_ALIGN {
        container = 'e10m/bwa-and-samtools:latest'
    }
    withName: MARK_DUPES {
        container = 'broadinstitute/gatk:4.2.0.0'
        containerOptions = "-v ${params.base_dir}:/base_dir -v ${params.ref_dir}:/references"
    }
    withName: SET_TAGS {
        container = 'broadinstitute/gatk:4.2.0.0'
    }
    withName: RECAL_BASES {
        container = 'broadinstitute/gatk:4.2.0.0'
    }
    withName: APPLY_BQSR {
        container = 'broadinstitute/gatk:4.2.0.0'
    }
}

docker {
    enabled = true
}