nextflow.enable.dsl=2

// create parameters (can be altered via command line)
params {
    base_dir = null
    ref_dir = null
    metadata = null
    cpus = 30
    help = false
}

process {
    executor = 'local'
    containerOptions = "-v ${params.ref_dir}:/references"
    errorStrategy = 'retry'
    maxRetries = 3
    
    withName: TRIM {
        container = 'quay.io/biocontainers/trim-galore:0.6.6--0'
    }
    withName: SPLIT {
        container = 'quay.io/biocontainers/bbmap:38.06--0'
    }
    withName: BWA_ALIGN {
        container = 'e10m/bwa-and-samtools:latest'
    }
    withName: MARK_DUPES {
        container = 'broadinstitute/gatk:4.2.0.0'
        containerOptions = "-v ${params.base_dir}:/base_dir -v ${params.ref_dir}:/references"
    }
    withName: SET_TAGS {
        container = 'broadinstitute/gatk:4.2.0.0'
    }
    withName: RECAL_BASES {
        container = 'broadinstitute/gatk:4.2.0.0'
    }
    withName: APPLY_BQSR {
        container = 'broadinstitute/gatk:4.2.0.0'
    }
}

docker {
    enabled = true
}