/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

params {
    ref_dir = "${projectDir}/test-data/references"
    test_mode = true
    cpus = 1
}