/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

params {
    cpus = 1
}