name: Mutation Calling Unit Tests

on: 
  pull_request:
    branches:
      - main

  push:
    branches-ignore:
      - main

jobs:
  test_mutation_calling:
    strategy:
      matrix:
        include:
          - name: "MUTECT2_CALL"
            image: "broadinstitute/gatk:4.2.0.0"
            test: "tests/mutation_calling/modules/mutect2/mutect2_call.nf.test"

          - name: "GET_PILEUP_SUMMARIES"
            image: "broadinstitute/gatk:4.2.0.0"
            test: "tests/mutation_calling/modules/mutect2/get_pileup_summaries.nf.test"

          - name: "CALCULATE_CONTAMINATION"
            image: "broadinstitute/gatk:4.2.0.0"
            test: "tests/mutation_calling/modules/mutect2/calculate_contamination.nf.test"
    
          - name: "LEARN_READ_ORIENTATION"
            image: "broadinstitute/gatk:4.2.0.0"
            test: "tests/mutation_calling/modules/mutect2/learn_read_orientation.nf.test"

          - name: "FILTER_MUTECT_CALLS"
            image: "broadinstitute/gatk:4.2.0.0"
            test: "tests/mutation_calling/modules/mutect2/filter_mutect_calls.nf.test"

    runs-on: ubuntu-latest

    name: Test ${{ matrix.name }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup nf-test
        uses: ./.github/actions/setup-nf-test

      - name: Pull respective Docker image
        run: docker pull ${{ matrix.image }}

      - name: Run nf-test
        shell: bash -el {0}
        working-directory: ./nextflow_automation/
        run: nf-test test ${{ matrix.test }}