name: Data Processing Workflow Unit Tests

on: 
  pull_request:
    branches:
      - main

jobs:
  test_data_processing:
    strategy:
      matrix:
        include:
          - name: TRIM
            test: tests/modules/trim_adapters.nf.test
            image: quay.io/biocontainers/trim-galore:0.6.6--0
          - name: FASTQC
            test: tests/modules/fastqc.nf.test
            image: biocontainers/fastqc:v0.11.9_cv8
          - name: BWA_ALIGN
            test: tests/modules/align.nf.test
            image: e10m/bwa-and-samtools:latest
          - name: MARK_DUPES
            test: tests/modules/mark_duplicates.nf.test
            image: broadinstitute/gatk:4.2.0.0
          - name: SET_TAGS
            test: tests/modules/set_tags.nf.test
            image: broadinstitute/gatk:4.2.0.0
          - name: RECAL_BASES
            test: tests/modules/recal_bases.nf.test
            image: broadinstitute/gatk:4.2.0.0
          - name: APPLY_BQSR
            test: tests/modules/apply_BQSR.nf.test
            image: broadinstitute/gatk:4.2.0.0
    
    runs-on: ubuntu-latest

    name: Test ${{ matrix.name }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup nf-test
        uses: ./.github/actions/setup-nf-test

      - name: Pull respective Docker image
        run: docker pull ${{ matrix.image }}

      - name: Run nf-test
        shell: bash -el {0}
        working-directory: ./nextflow_automation/data_processing
        run: nf-test test ${{ matrix.test }}